$primary-color: #5C59E8;
// .offcanvas {
//     width:  Fixed (264px)px !important ;
//     height: Fill (969px)px !important;
//     gap: 0px;
//     border: 0px 1px 0px 0px;
//     opacity: 0px;
//     ;
//         display: flex;
// }
.logo{
    width: Fill (264px)px;
    height: Fixed (64px)px;
    padding: 8px 20px 8px 20px;
    gap: 10px;
    opacity: 0px;
    

}
img{
    width: Fill (224px)px;
height: Hug (34px)px;
gap: 12px;
opacity: 0px;

}

#sidebar-nav{
    width: Fill (264px)px;
height: Fill (769px)px;
padding: 24px 18px 32px 18px;
gap: 8px;
opacity: 0px;

}
.bottom-icons{
    width: Fill (264px)px;
    height: Hug (136px)px;
    padding: 24px 18px 24px 18px;
    gap: 8px;
    opacity: 0px;
    
}
a{
    text-decoration: none;
    color: white;

}
ul{
    list-style: none;
    width: Fill (228px)px;
height: Hug (40px)px;
padding: 8px 12px 8px 12px;
gap: 8px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

}
li{
    width: Fill (228px)px;
height: Hug (40px)px;
padding: 8px 12px 8px 12px;
gap: 8px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

}
.top{
    margin-top: 93%;
}