 
 <!-- ***************** --> 

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">








<!-- ************************* -->






<!-- *****************************last result side bar handling ********************************* -->

    <div class=" nav-content d-flex flex-column  justify-content-between col-auto      min-vh-100 " >
    
        <div class="logo mt-4 ">
            <a href="" class="text-white  text-center d-flex text-decoration-none ms-2  " role="button">
                <img class="fs-5 w-100 rounded mx-auto d-block " src="assets/images/Logo.png" alt="">
            </a>
            <br class="text-white">
            <ul
                class="nav nav-pills flex-column mt-2 mt-sm-0 " id="menu" >
    
    
    
                <li class="nav-item">
                    <a href="#" class="nav-link " aria-current="page" >
                        <img src="assets/icon.png" alt=""> <span class="d-none d-sm-inline ms-2">
                          Dashboard
                        </span>
    
                        
                        </a >
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
    
                    <img src="assets/icon (1).png" alt=""> <span class=" d-none d-sm-inline ms-2">productList</span>
                    </a>
           
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                        <img src="assets/icon.png" alt=""> <span class="d-none d-sm-inline ms-2">
                            Orders
                        </span>
    
                        
                        </a >
    </li>  
                <li class="nav-item ">
                    <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                      <i class="fa-solid fa-users"></i>
                        <!-- <img src="assets/icon.png" alt=""> -->
                         <span class="d-none d-sm-inline ms-2">
                            customers
                        </span>
    
                        
                        </a >
    </li>  
             
            </ul>
            
            
        </div>
        <div class="bottom-list">
    
            <ul
                class="nav nav-pills flex-column mb-3 mt-2 mt-sm-0 " id="menu" >
    
    
    
                <li class="nav-item">
                    <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
    
                    <img src="../../assets/earphone.png" alt=""> <span class=" d-none d-sm-inline ms-2">support</span>
                    </a>
           
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                        <img src="../../assets/gear.png" alt=""> <span class=" d-none d-sm-inline ms-2">
    settings
                        </span>
    
                        
                        </a >
    </li>      
            </ul>
          </div>
          
        </div>


  

  




    <router-outlet />