<div class="container-fluied  overflow-x-hidden">

    <div class="row  bg-secondary ">
        <div class="col-lg-12  ms-sm-4 pt-5">
            <div class="row justify-content-around">
                
                <div class="col-lg-4  col-md-12">
                    <div class="col-lg-9 ms-lg-5 me-lg-2">

                        <div class="footer caption  pt-sm-4" >
                            <div class="card-img">
                                <img src="assets/footerImages/Group 16.png" alt="">

                            </div>
                            <div class="card-body">
                                <p class="card-text ">We have clothes that suits your style and which you’re proud to
                                    wear. From women to men.</p>
                                <div class="card-icons">
                                    <ul class="list-group list-group-horizontal list-unstyled   ">
                                        <li class="me-2"><img src="assets/footerImages/1.png" alt=""></li>
                                        <li class="me-2"><img src="assets/footerImages/2.png" alt=""></li>
                                        <li class="me-2"><img src="assets/footerImages/3.png" alt=""></li>
                                        <li class="me-2"><img src="assets/footerImages/4.png" alt=""></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="row ">
                    
                        <div class="  col-lg-3  col-md-6 col-6 ">
                        <div class="compony">
                            <h4>COMPONY</h4>
                            <ul class="list-group  list-unstyled   ">
                                <li class=" pt-2"><span>About</span></li>
                                <li class=" pt-2"><span>Features</span></li>
                                <li class="  pt-2"><span>Works</span></li>
                                <li class="  pt-2"><span>Career</span></li>
                            </ul>
                        
                        </div>
                        </div>
                        <div class="col-lg-3   col-md-6 col-6">
                        <div class="compony">
                            <h4>HELP</h4>
                            <ul class="list-group  list-unstyled   ">
                        
                                <li class=" pt-2"><span>Customer Support</span></li>
                                <li class=" pt-2"><span>Delivery Details</span></li>
                                <li class="  pt-2"><span>Terms & Conditions</span></li>
                                <li class="  pt-2"><span>privacy Polices</span></li>
                        
                            </ul>
                        
                        </div>
                        
                        </div>
                        
                        <div class="col-lg-3  col-md-6 col-6">
                        <div class="compony">
                            <h4>FAQ</h4>
                            <ul class="list-group  list-unstyled   ">
                                <li class=" pt-2"><span>Account</span></li>
                                <li class=" pt-2"><span>Manage Deliveries</span></li>
                                <li class="  pt-2"><span>Orders</span></li>
                                <li class="  pt-2"><span>Payments</span></li>
                            </ul>
                        
                        </div>
                        </div>
                        <div class="col-lg-3  col-md-6 col-6">
                        <div class="compony">
                            <h4>Resources</h4>
                            <ul class="list-group  list-unstyled   ">
                                <li class=" pt-2"><span>Free books</span></li>
                                <li class=" pt-2"><span>Development Tutorial</span></li>
                                <li class="  pt-2"><span> How to - Blog
                                    </span></li>
                                <li class="  pt-2"><span>Youtube Playlist</span></li>
                            </ul>
                        
                        </div>
                        </div>
                    </div>
                    
                    </div>
                    
                <!-- <div class="col-lg-8 col-md-12  pt-sm-4">
                    
                        <div class="row  justify-content-between">

                            <div class="col-lg-3 ">
                                <div class="compony">
                                    <h4>COMPONY</h4>
                                    <ul class="list-group  list-unstyled   ">
                                        <li class=" pt-2"><span>About</span></li>
                                        <li class=" pt-2"><span>Features</span></li>
                                        <li class="  pt-2"><span>Works</span></li>
                                        <li class="  pt-2"><span>Career</span></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-3 ">
                                <div class="compony">
                                    <h4>HELP</h4>
                                    <ul class="list-group  list-unstyled   ">

                                        <li class=" pt-2"><span>Customer Support</span></li>
                                        <li class=" pt-2"><span>Delivery Details</span></li>
                                        <li class="  pt-2"><span>Terms & Conditions</span></li>
                                        <li class="  pt-2"><span>privacy Polices</span></li>

                                    </ul>

                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="compony">
                                    <h4>FAQ</h4>
                                    <ul class="list-group  list-unstyled   ">
                                        <li class=" pt-2"><span>Account</span></li>
                                        <li class=" pt-2"><span>Manage Deliveries</span></li>
                                        <li class="  pt-2"><span>Orders</span></li>
                                        <li class="  pt-2"><span>Payments</span></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="compony">
                                    <h4>Resources</h4>
                                    <ul class="list-group  list-unstyled   ">
                                        <li class=" pt-2"><span>Free books</span></li>
                                        <li class=" pt-2"><span>Development Tutorial</span></li>
                                        <li class="  pt-2"><span> How to - Blog
                                            </span></li>
                                        <li class="  pt-2"><span>Youtube Playlist</span></li>
                                    </ul>

                                </div>
                            </div>


                    </div>
                </div> -->
                <div class="row ">
                    <div class="col-lg-12   ">

                        <hr class="col-lg-11 ms-lg-4 ">
                    </div>
                </div>

                <div class="row justify-content-sm-center">
                    <div class="col-lg-12">
                        <div class="row ">
                            <div class="col-lg-6  text-sm-center "><span class=" ">Shop.co © 2000-2023, All
                                    Rights Reserved</span>
                            </div>
                            <div class="col-lg-6 pe-lg-5 ">
                                <ul class="list-group list-group-horizontal list-unstyled justify-content-end pe-lg-5 ">
                                    <li class=""> <a href=""><img src="assets/footerImages/Badge.png" alt=""></a>
                                    </li>
                                    <li class="">
                                        <a href="">

                                            <img src="assets/footerImages/Badge (2).png" alt="">
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">

                                            <img src="assets/footerImages/Badge (4).png" alt="">
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">

                                            <img src="assets/footerImages/Badge (1).png" alt="">
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">

                                            <img src="assets/footerImages/Badge (3).png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>