
<div class="container-fluid">

    <div class="row">
        <div class="  d-flex flex-column  justify-content-between col-auto   bg-dark min-vh-100">

            <div class="logo mt-4">
                <a href="" class="text-white d-none d-sm-inline d-flex text-decoration-none ms-4  " role="button">
                    <img class="fs-5 " src="assets/images/Logo.png" alt="">
                </a>
                <br class="text-white">
                <ul
                    class="nav nav-pills flex-column mt-2 mt-sm-0 " id="menu" >
    
    
    
                    <li class="nav-item">
                        <a href="#" class="nav-link " aria-current="page" >
                            <img src="assets/icon.png" alt=""> <span class="d-none d-sm-inline ms-2">
                                product
                            </span>
    
                            
                            </a >
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
    
                        <img src="assets/icon (1).png" alt=""> <span class=" d-none d-sm-inline ms-2">productList</span>
                        </a>
               
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                            <img src="assets/icon.png" alt=""> <span class="d-none d-sm-inline ms-2">
                                product
                            </span>
    
                            
                            </a >
    </li>
    
    
    
    <!-- <ul class="nav   " id="#sidemenu" data-bs-parent="#menu"
    >
        <li class="nav-item ms-1">
            <a class="nav-link" href="#">item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled link</a>
        </li>
    </ul> -->
    
    
    
                 
                </ul>
                
                
            </div>
            <div class="bottom-list">
    
                <ul
                    class="nav nav-pills flex-column mb-3 mt-2 mt-sm-0 " id="menu" >
    
    
    
                    <li class="nav-item">
                        <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
    
                        <img src="assets/icon (1).png" alt=""> <span class=" d-none d-sm-inline ms-2">productList</span>
                        </a>
               
                    </li>
                    <li class="nav-item ">
                        <a href="#" class="nav-link  " data-bs-toggle="collapse" aria-current="page" >
                            <img src="assets/icon.png" alt=""> <span class=" d-none d-sm-inline ms-2">
                                product
                            </span>
    
                            
                            </a >
    </li>
    
    
    
    <!-- <ul class="nav   " id="#sidemenu" data-bs-parent="#menu"
    >
        <li class="nav-item ms-1">
            <a class="nav-link" href="#">item</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled link</a>
        </li>
    </ul> -->
    
    
    
                 
                </ul>
            </div>
    
        </div>
        </div>
        </div>