<div class="container-fluid   ">
    
    <div class="row  text-center  align-content-center min-vh-100  ">
<div class="logo-img">
    <img src="assets/footerImages/Group 16.png" alt="">
</div>
<div class="logo-text">
    <h4>Sign in to your account</h4>
    <form action="" class="col-lg-3 m-auto login" #authForm="ngForm" (ngSubmit)="onFormSubmitted()"  >
      
        <div class="input-box  text-start">
            <label for="Email" >E-mail</label>
          <input type="email"
          #email="ngModel"
          [(ngModel)]="loginData.email"
           placeholder="E-mail"
            name="email"
            class=" form-control"
           required>

         </div>
         <div class="input-box pt-1 text-start">
            <label for="password">password</label>

           <input type="password"
           #password="ngModel"
           [(ngModel)]="loginData.password"
             placeholder="password" name="password"  
             class="form-control"
              required>
           <i class='bx bxs-lock-alt' ></i>

          </div>
          <div  class="remember-forgot pt-3 d-flex justify-content-between">
            <label><input class="rounded" #rememberMe [(ngModel)]="loginData.rememberMe " type="checkbox" name="rememberMe" 
               >Remember me</label>
            <a href="#" class="text-dark text-decoration-none">Forgot your Password?</a>
          </div> 
          <div class="submit  pt-3">

              <button   type="submit" class="btn btn-dark col-12 "  [disabled]="authForm.invalid"> 
                <span *ngIf="!isLoading">sign in</span>
                <span *ngIf="isLoading">Loading...</span>
            </button>
          </div>

          
          <div *ngIf="isLoading">
<app-loading></app-loading>
        </div>
        </form>
    </div>

</div>
    </div>
