<app-navbar-component></app-navbar-component>
<div class="container ">
  <div class="row p-2">
    <div class="col-lg-12 ">
        <a href="" class="text-decoration-none text-dark p-2">Home</a> <i class="fa-solid fa-arrow-right"></i> <a
            href="" class="text-decoration-none text-dark p-2">Cart</a>
    </div>
</div>

  <div class="row pb  -5">

    <div class="product-container-show col-lg-6 d-flex">

      <div class=" product-img-list pt-3  d-none d-sm-inline">

        <img src="../../assets/cards-images/tshirt.png" class=" m-2 rounded-4" alt="">
        <img src="../../assets/cards-images/tshirt.png" class=" m-2 rounded-4" alt="">
        <img src="../../assets/cards-images/tshirt.png" class=" m-2 rounded-4" alt="">
      </div>
      <div class="product-img-main ps-lg-3  ">
        <img src="../../assets/cards-images/tshirt.png" class="rounded-4 ">
      </div>

    </div>
    <div class="  product-img-list pt-3  d-md-none	d-sm-none d-md-block">
      <ul class="list-group list-group-horizontal list-unstyled">
        <li>

          <img src="../../assets/cards-images/tshirt.png" class=" m-2 rounded-4" alt="">
        </li>
        <li>

          <img src="../../assets/cards-images/tshirt.png" class=" m-2 rounded-4" alt="">
        </li>
        <li>

          <img src="../../assets/cards-images/tshirt.png" class=" m-2 rounded-4" alt="">
        </li>
      </ul>
      <div class="col-lg-6 d-lg-none ">
        <div class="col-lg-12 ">
  
          <div class="col-lg-12">
            <div class="col-lg-10  card p-4 m-2 rounded-4   ">
              <div class="card-title">
                <h3>{{product?.name}}</h3>
                <span class="d-flex">
                  <ul class="list-unstyled list-group list-group-horizontal stars">
                    <li><i class="fa-solid fa-star "></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
  
                  3.5/5
                </span>
                <div class="d-flex align-items-center justify-content-between">
                  <span class="d-flex">
                    ${{product?.amount}} <span class="ms-1 text-decoration-line-through">$160 <span
                        class="badge rounded-pill text-bg-light ">Light</span></span></span>
                </div>
                <span>
                {{product?.description}}
                </span>
                <hr class="pb-lg-5">
              
               
  
              </div>
              
              <div class="card-btn pt-lg-5 d-flex justify-content-between align-items-center text-center">
                <div class=" p-2 bg-body-secondary rounded-5  col-lg-4">
                  <i class="fa-solid fa-minus pe-3"></i> <span
                  class="pe-3">1</span><i class="fa-solid fa-plus"></i></div>
  
                <button class="btn btn-lg bg-dark text-white rounded-5 col-lg-7  " >Add to cart </button>                     
  
              </div>
            </div>
          </div>
  
        </div>
  
  
      </div>
      </div>
    <div class="col-lg-6 d-none d-sm-inline">
      <div class="col-lg-12 ">

        <div class="col-lg-12">
          <div class="col-lg-10  card p-4 m-2 rounded-4   ">
            <div class="card-title">
              <h3>{{product?.name}}</h3>
              <span class="d-flex">
                <ul class="list-unstyled list-group list-group-horizontal stars">
                  <li><i class="fa-solid fa-star "></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                </ul>

                3.5/5
              </span>
              <div class="d-flex align-items-center justify-content-between">
                <span class="d-flex">
                  ${{product?.amount}} <span class="ms-1 text-decoration-line-through">$160 <span
                      class="badge rounded-pill text-bg-light ">Light</span></span></span>
              </div>
              <span>
            {{product?.description}}
              </span>
              <hr class="pb-lg-5">
            
             

            </div>
            
            <div class="card-btn pt-lg-5 d-flex justify-content-between align-items-center text-center">
              <div class=" p-2 bg-body-secondary rounded-5  col-lg-3">
                <i class="fa-solid fa-minus pe-3"></i> <span
                class="pe-3">1</span><i class="fa-solid fa-plus"></i></div>

              <button class="btn btn-lg bg-dark text-white rounded-5 col-lg-7  "  [routerLink]="['/cart']" (click)="addToCart()">Add to cart </button>                     

            </div>
          </div>
        </div>

      </div>


    </div>

  </div>




  <!-- <div class="row ">
        <div class="col-lg-12 "><p>head</p></div>
<div class="row">

  <div class="col-lg-5 ">
    <div class=" col-lg-3 d-none d-sm-inline">
<div class="col-lg-3 "><img src="../../assets/cards-images/image 8.png"  alt=""></div>
<div class="col-lg-3 "><img src="../../assets/cards-images/image 8.png"  alt=""></div>
<div class="col-lg-3 "><img src="../../assets/cards-images/image 8.png"  alt=""></div>
</div>
<img src="../../assets/cards-images/image 8.png" class="" alt=""></div>
    
<div class="row">
<div class="col-lg-2 d-lg-none d-flex">
<div class="col-lg-3 w-25">1</div>
<div class="col-lg-3 w-25">1</div>
<div class="col-lg-3 w-25">1</div>

</div>
</div>
</div>

</div> -->


  <div class=" table-responsive-sm mt-5 ">
    <table class="table col-lg-12 ">
      <tr>
        <td class="col-lg-3">
          <div class="row">

            <div class="product   "  >
              <img src="assets/cards-images/tshirt.png" class="rounded-3 w-100" alt="">
              <div class="card-body">

                  <h3  > {{product?.name}}</h3>
                  <span class="d-flex">
                      <ul class="list-unstyled list-group list-group-horizontal stars">
                          <li><i class="fa-solid fa-star "></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                      </ul>

                      3.5/5
                  </span>
              </div>
              <div class="d-flex align-items-center justify-content-between" >
                  <span class="d-flex"   >
                      $ {{product?.amount}} <span class="ms-2 text-decoration-line-through">$160 <span
                              class="badge rounded-pill text-bg-light "   >{{product?.status}}</span></span></span>
              </div>

          </div>

          </div>
        </td>
        <td class="col-lg-3">
          <div class="row">

            <div class="product   "  >
              <img src="assets/cards-images/tshirt.png" class="rounded-3 w-100" alt="">
              <div class="card-body">

                  <h3  > {{product?.name}}</h3>
                  <span class="d-flex">
                      <ul class="list-unstyled list-group list-group-horizontal stars">
                          <li><i class="fa-solid fa-star "></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                      </ul>

                      3.5/5
                  </span>
              </div>
              <div class="d-flex align-items-center justify-content-between" >
                  <span class="d-flex"   >
                      $ {{product?.amount}} <span class="ms-2 text-decoration-line-through">$160 <span
                              class="badge rounded-pill text-bg-light "   >{{product?.status}}</span></span></span>
              </div>

          </div>

          </div>
        </td>
        <td class="col-lg-3">
          <div class="row">

            <div class="product   "  >
              <img src="assets/cards-images/tshirt.png" class="rounded-3 w-100" alt="">
              <div class="card-body">

                  <h3  > {{product?.name}}</h3>
                  <span class="d-flex">
                      <ul class="list-unstyled list-group list-group-horizontal stars">
                          <li><i class="fa-solid fa-star "></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                      </ul>

                      3.5/5
                  </span>
              </div>
              <div class="d-flex align-items-center justify-content-between" >
                  <span class="d-flex"   >
                      $ {{product?.amount}} <span class="ms-2 text-decoration-line-through">$160 <span
                              class="badge rounded-pill text-bg-light "   >{{product?.status}}</span></span></span>
              </div>

          </div>

          </div>
        </td>
        <td class="col-lg-3">
          <div class="row">

            <div class="product   "  >
              <img src="assets/cards-images/tshirt.png" class="rounded-3 w-100" alt="">
              <div class="card-body">

                  <h3  > {{product?.name}}</h3>
                  <span class="d-flex">
                      <ul class="list-unstyled list-group list-group-horizontal stars">
                          <li><i class="fa-solid fa-star "></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                          <li><i class="fa-solid fa-star"></i></li>
                      </ul>

                      3.5/5
                  </span>
              </div>
              <div class="d-flex align-items-center justify-content-between" >
                  <span class="d-flex"   >
                      $ {{product?.amount}} <span class="ms-2 text-decoration-line-through">$160 <span
                              class="badge rounded-pill text-bg-light "   >{{product?.status}}</span></span></span>
              </div>

          </div>

          </div>
        </td>
      </tr>
    </table>
  </div>




</div>

<app-footer></app-footer>