<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="container-fluied">
    <div class="row bg-dark text-white">
        <div class="col-lg-11 col-md-12 pb-2 col-sm-12 text-lg-center p-1"><span class="fw-lighter ">Sign up and get 20% off to your first order.<a href="" class="text-white ">Sign Up Now</a></span></div>
        <div class="col-lg-1 pt-2 d-none d-md-inline text-center text-white"><i class="fa-solid fa-x "></i></div>
    </div>
    
</div>
