
<div class="container-fluied overflow-x-hidden">
    <div class="row bg-dark text-white">
        <div class="col-12 col-lg-11 pb-2  text-lg-center "><span class="fw-lighter ">Sign up and get 20% off to your first order.<a href="" class="text-white ">Sign Up Now</a></span></div>
        <div class="col-lg-1 pt-2 d-none d-md-inline text-center text-white"><i class="fa-solid fa-x "></i></div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="/home"><img src="../../assets/footerImages/Group 16.png" class="ms-lg-3" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                   <div class="input-group w-100 flex-nowrap ">

                       <input type="search" class="form-control rounded-5 " placeholder=" search Products..." aria-label="Username" aria-describedby="addon-wrapping">
                   </div>
                  <ul class="navbar-nav px-lg-4">
                  <li class="nav-item  ">
                    <a routerLink="/cart" class="nav-link text-black me-lg-2"> <i class="fa-solid fa-cart-shopping"></i></a>
                </li>
                  <li class="nav-item">
                    <a routerLink="/login" class="nav-link text-dark me-lg-2" href="#"><i class="fa-regular fa-circle-user"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    
</div>
