<app-navbar-component></app-navbar-component>
<div class="container">



    <div class="row">
        <div class="col-lg-12 ">
            <a href="" class="text-decoration-none text-dark p-2">Home</a> <i class="fa-solid fa-arrow-right"></i> <a
                href="" class="text-decoration-none text-dark p-2">Cart</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <h2>Your Cart</h2>
        </div>
    </div>
    <div class="row ">

        <div class="col-lg-6 card p-2 m-2 rounded-4">
            <div class="col-lg-12 p-2 d-flex">
                <div class="col-lg-3 ">
                    <img src="assets/cards-images/tshirt.png" class="img-fluid rounded-start pe-2  rounded-4"
                        alt="">
                </div>
                <div class="col-lg-11 ">
                    <div class="row">

                        <div class="col-lg-9  ">
                            <h4>Gradient Graphic T-shirt</h4>
                        </div>
                        <div class="col-lg-1"><i class="fa-solid fa-trash text-danger"></i></div>
                        <div class="col-lg-9 m-0  ">
                            <small class="d-block">size:large</small>
                            <small>size:large</small>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-10 pb-2 d-flex justify-content-between">
                            <h4>$109</h4>
                            <div class=" p-2 bg-body-secondary rounded-5 "><i class="fa-solid fa-minus pe-3"></i> <span
                                    class="pe-3">1</span><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>

                </div>

            </div>
            <hr>
            <div class="col-lg-12 p-2 d-flex">
                <div class="col-lg-3 ">
                    <img src="../../assets/cards-images/tshirt.png" class="img-fluid rounded-start pe-2  rounded-4"
                        alt="">
                </div>
                <div class="col-lg-11 ">
                    <div class="row">

                        <div class="col-lg-9  ">
                            <h4>Gradient Graphic T-shirt</h4>
                        </div>
                        <div class="col-lg-1"><i class="fa-solid fa-trash text-danger"></i></div>
                        <div class="col-lg-9 m-0  ">
                            <small class="d-block">size:large</small>
                            <small>size:large</small>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-10 pb-2 d-flex justify-content-between">
                            <h4>$109</h4>
                            <div class=" p-2 bg-body-secondary rounded-5 "><i class="fa-solid fa-minus pe-3"></i> <span
                                    class="pe-3">1</span><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>

                </div>

            </div>
            <hr>
            <div class="col-lg-12 p-2 d-flex">
                <div class="col-lg-3 ">
                    <img src="../../assets/cards-images/tshirt.png" class="img-fluid rounded-start pe-2  rounded-4"
                        alt="">
                </div>
                <div class="col-lg-11 ">
                    <div class="row">

                        <div class="col-lg-9  ">
                            <h4>Gradient Graphic T-shirt</h4>
                        </div>
                        <div class="col-lg-1"><i class="fa-solid fa-trash text-danger"></i></div>
                        <div class="col-lg-9 m-0  ">
                            <small class="d-block">size:large</small>
                            <small>size:large</small>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-10 pb-2 d-flex justify-content-between">
                            <h4>$109</h4>
                            <div class=" p-2 bg-body-secondary rounded-5 "><i class="fa-solid fa-minus pe-3"></i> <span
                                    class="pe-3">1</span><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-5">

            <div class="col-lg-12">
                <div class="col-lg-10  card p-4 m-2 rounded-4   ">
                    <div class="card-title">
                        <h3>Order Summary</h3>
                        <div class="sub-total d-flex justify-content-between">
                            <span>Sub total</span>
                            <p>145</p>
                        </div>
                        <div class="sub-total d-flex justify-content-between">
                            <span>Sub total</span>
                            <p>145</p>
                        </div>
                        <div class="sub-total d-flex justify-content-between">
                            <span>Sub total</span>
                            <p>145</p>
                        </div>
                        <hr>
                        <div class="sub-total d-flex justify-content-between">
                            <span>Sub total</span>
                            <p>145</p>
                        </div>
                        <div class="col-lg-12 d-flex justify-content-between pb-2">
                            <input type="text" class="rounded-5 col-lg-9" placeholder=" Add promo code">
                            <button class="btn btn-dark rounded-5">Apply</button>
                        </div>

                    </div>
                    <button class="btn btn-lg bg-dark text-white rounded-5 col-lg-12  ">Go to checkout <i
                            class="fa-solid fa-arrow-right p-2"></i></button>
                </div>
            </div>

        </div>
    </div>





</div>
<app-footer></app-footer>