$primary-color:#5C59E8;
$secondry-color:#E0E2E7;
$low-stack-color:#E46A11;
$buplished-color:#0D894F;
$out-stack-color:#F04438;


.col-12{
    background-color: #E0E2E7;
}

.headings-links span{
color: $primary-color;
}
.headings-links i{
color: #c6c6e8;
font-size: small;
}
.drug-drop {
    height: 300px;
    margin: 10px auto;
    background: #c0c0c0;
    position: relative;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5%/10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .drug-drop:before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border: 3px dashed #ddd;
    border-radius: 5%/10%;
  }
  
  .drug-drop input {
    // width: 100%;
    background: transparent;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }
  
  .drag-btn  {
    color: $primary-color;
  }
  
  
//   {
//     width: 30%;
//     color: $primary-color;
//     font: bold 3em Arial, sans-serif;
//     background-color: $secondry-color;
//     text-align: center;
//     white-space: pre-line;
//     word-wrap: break-word;
//   }
  
  