<div class=" d-flex  col-12">

    <aside class="col-lg-2 col-sm-1 col-3 ">
        <app-side-bar></app-side-bar>
    </aside>
    <div class="container  pt-2">

        <div class="row  px-3">

            <div class="col-12    bg-info">
                <h3>Add Product</h3>

                <div class="headings-links d-flex  col-4">
                    <a class="text-decoration-none   text-black " href=""><span>Dashboard</span></a>


                    <i class="fa-solid fa-chevron-right px-2 pt-2"></i>

                    <a class="text-decoration-none  text-black " href=""><span>Product List</span></a>

                    <i class="fa-solid fa-chevron-right px-2 pt-2"></i>

                    <a class="text-decoration-none  text-black " href="">Add Product</a>
                </div>

            </div>
        </div>

        <div class="row pt-2 px-3 ">

            <div class="col-12 d-flex bg-secondary ">
                <div class="col-9 bg-danger rounded p-2">
                    <h3>General  Information </h3>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>

                </div>
<div class="col">

    <div class="col ms-4 bg-info ">
        <div class="col-6 bg-body-secondary ">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
<span>product Category</span>
<div class="dropdown">
    <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col ms-4 pt-4 bg-info ">
        <div class="col-6 bg-body-secondary ">
            <div class="card" style="width: 16rem;">
                <div class="card-body">
                    <div class="d-flex  align-items-center justify-content-between ">

                        <h5 class="card-title">Status</h5><span class="badge rounded-pill  text-bg-secondary">Draft</span>
                    </div>
<span>product Category</span>
<div class="dropdown">
    <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
                </div>
            </div>
        </div>
    </div>

</div>

            </div>
        </div>

        <div class="row pt-2 px-3">
            <div class="col-12 bg-danger">
                <div class="col-9">
                    <div class="card text-center">
                        <div class="card-header">
                          Featured
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Special title treatment</h5>
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                        <div class="card-footer text-body-secondary">
                          2 days ago
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 px-3">
            <div class="col-12 bg-secondary">
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <h5>Pricing</h5>
                                <form class="row g-3">
                                    <label for="exampleFormControlInput1" class="form-label">Base Price</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="$ Type Base Price here...">
    
                                    <div class="col-6">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                    <div class="col-6">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                    <div class="col-6">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                    <div class="col-6">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                  </form>
                            </div>
        
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="row pt-2 px3">
            <div class="col-12">
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <h5>Pricing</h5>
                                <form class="row g-3">
    
                                    <div class="col-6">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                    <div class="col-6">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                  </form>
                            </div>
        
                        </div>
                      </div>

                </div>
            </div>
        </div>
        <div class="row pt-2 px3">
            <div class="col-12">
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <h5>Pricing</h5>
                                <div class="p-1 ">
                                    <input class="form-check-input me-1"  type="checkbox"  id="checkboxNoLabel" value="" aria-label="...">
                                <label for="">this is Physical product</label>  
                                </div>
                                <form class="row g-2">
    
                                    <div class="col-3">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                    <div class="col-3">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                    <div class="col-3">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                    <div class="col-3">
                                      <label for="inputPassword2" class="">Password</label>
                                      <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                    </div>
                                  </form>
                            </div>
        
                        </div>
                      </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12  pt-5 bg-dark ">
                <footer class="text-white d-flex justify-content-between">
                    <div class="product-completion">
                        <p> product completion <span class="badge text-bg-secondary rounded-5 p-2">0%</span></p>
                    </div>
                    <div class="progress-buttons d-flex py-2 px-2  ">
                        <div class="cancel px-4">

                            <button type="button" class="btn btn-outline-secondary ">cancel</button>
                        </div>
                        <div class="save">

                            <button type="button px-2" class="btn btn-secondary ">Save</button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>