$primary-color:#5C59E8;
$secondry-color:#E0E2E7;
$low-stack-color:#E46A11;
$buplished-color:#0D894F;
$out-stack-color:#F04438;


.col-12{
    background-color: #E0E2E7;
}

.headings-links span{
color: $primary-color;
}
.headings-links i{
color: #c6c6e8;
font-size: small;
}