

<div class=" container-fluied overflow-x-hidden ps-lg-5 ">
  <app-product-page></app-product-page>
  <div class="row">
<div class="col-lg-11
">

  <div class=" col-lg-12  ">
  <div class="table-responsive col-12  pt-3">
    <table class="table table-hover text-secondary">
        <thead>
            <tr>
                <th>                <input class="form-check-input " type="checkbox" value="" id="defaultCheck">
                </th>
                <th><div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Products
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div></th>
                <th><button
                  type="button"
                  class="btn "
                  data-bs-toggle="button"
                  aria-pressed="false"
                  autocomplete="off"
                >
                  SKU
                </button>
                </th>
                <th><button
                  type="button"
                  class="btn "
                  data-bs-toggle="button"
                  aria-pressed="false"
                  autocomplete="off"
                >
                Category
                </button>
                </th>
                <th><div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Stock
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div></th>
                <th><div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Price
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div></th>
                <th><div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Status
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div></th>
                <th><div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Added
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div></th>
                <th><button
                  type="button"
                  class="btn "
                  data-bs-toggle="button"
                  aria-pressed="false"
                  autocomplete="off"
                >
                  Action
                </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>                <input class="form-check-input " type="checkbox" value="" id="defaultCheck">
                </td>
                <td>
                  <div class="product-field d-flex ">
                    <img src="assets/images/Img.png" alt="">
                    <p >{{product.name}}
                      <br>
                      <span>
                        3variants
  
                      </span>
                    </p>
                </div></td>
                <td><div class="sku-field">
                  <p>302012</p>
                </div></td>
                <td><p>Bag & Pouch</p></td>
                <td >
                  <div class="container">
  
                    <p>10</p>
                  </div>
                </td>
                <td>
                  <div class="container">
                    <p>$121.00</p>
                  </div>
                </td>
  
                <td>
                  <div class="container">
  
                    <button class="btn object-fit-contain border rounded-5 low-stack-btn px-2">low stack</button>
                  </div>
                </td>
                <td><div class="container">
                  <p>29 Dec 2022</p>
                </div></td>
                <td><div class="container d-flex justify-content-end">
                  <button class="btn">
                    <i class="fa-solid fa-eye"></i> 
  
                  </button>
                  <button class="btn">
                    <i class="fa-solid fa-pen"></i>
  
                  </button>
                  <button class="btn">
                    <i class="fa-solid fa-trash"></i> 
  
                  </button>
                 
                </div></td>
            </tr>
            <tr>
                <td>                <input class="form-check-input " type="checkbox" value="" id="defaultCheck">
                </td>
                <td>
                  <div class="product-field d-flex ">
                    <img src="assets/images/Img.png" alt="">
                    <p>Hand made pouch
                      <br>
                      <span>
                        3variants
  
                      </span>
                    </p>
                </div></td>
                <td><div class="sku-field">
                  <p>302012</p>
                </div></td>
                <td><p>Bag & Pouch</p></td>
                <td >
                  <div class="container">
  
                    <p>10</p>
                  </div>
                </td>
                <td>
                  <div class="container">
                    <p>$121.00</p>
                  </div>
                </td>
  
                <td>
                  <div class="container">
  
                    <button class="btn object-fit-contain border rounded-5 low-stack-btn px-2">low stack</button>
                  </div>
                </td>
                <td><div class="container">
                  <p>29 Dec 2022</p>
                </div></td>
                <td><div class="container d-flex justify-content-end">
                  <button class="btn">
                    <i class="fa-solid fa-eye"></i> 
  
                  </button>
                  <button class="btn">
                    <i class="fa-solid fa-pen"></i>
  
                  </button>
                  <button class="btn">
                    <i class="fa-solid fa-trash"></i> 
  
                  </button>
                 
                </div></td>
            </tr>
            <tr>
                <td>                <input class="form-check-input " type="checkbox" value="" id="defaultCheck">
                </td>
                <td>
                  <div class="product-field d-flex ">
                    <img src="assets/images/Img.png" alt="">
                    <p>Hand made pouch
                      <br>
                      <span>
                        3variants
  
                      </span>
                    </p>
                </div></td>
                <td><div class="sku-field">
                  <p>302012</p>
                </div></td>
                <td><p>Bag & Pouch</p></td>
                <td >
                  <div class="container">
  
                    <p>10</p>
                  </div>
                </td>
                <td>
                  <div class="container">
                    <p>$121.00</p>
                  </div>
                </td>
  
                <td>
                  <div class="container">
  
                    <button class="btn object-fit-contain border rounded-5 draf-btn px-2">Draft</button>
                  </div>
                </td>
                <td><div class="container">
                  <p>29 Dec 2022</p>
                </div></td>
                <td><div class="container d-flex justify-content-end">
                  <button class="btn">
                    <i class="fa-solid fa-eye"></i> 
  
                  </button>
                  <button class="btn">
                    <i class="fa-solid fa-pen"></i>
  
                  </button>
                  <button class="btn">
                    <i class="fa-solid fa-trash"></i> 
  
                  </button>
                 
                </div></td>
            </tr>
              <tr>
                  <td>                <input class="form-check-input " type="checkbox" value="" id="defaultCheck">
                  </td>
                  <td>
                    <div class="product-field d-flex ">
                      <img src="assets/images/Img.png" alt="">
                      <p>Hand made pouch
                        <br>
                        <span>
                          3variants
  
                        </span>
                      </p>
                  </div></td>
                  <td><div class="sku-field">
                    <p>302012</p>
                  </div></td>
                  <td><p>Bag & Pouch</p></td>
                  <td >
                    <div class="container">
  
                      <p>10</p>
                    </div>
                  </td>
                  <td>
                    <div class="container">
                      <p>$121.00</p>
                    </div>
                  </td>
  
                  <td>
                    <div class="container">
  
                      <button class="btn object-fit-contain border rounded-5 published-btn px-2">Puplished</button>
                    </div>
                  </td>
                  <td><div class="container">
                    <p>29 Dec 2022</p>
                  </div></td>
                  <td><div class="container d-flex justify-content-end">
                    <button class="btn">
                      <i class="fa-solid fa-eye"></i> 
  
                    </button>
                    <button class="btn">
                      <i class="fa-solid fa-pen"></i>
  
                    </button>
                    <button class="btn">
                      <i class="fa-solid fa-trash"></i> 
  
                    </button>
                  
                  </div></td>
              </tr>
        </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-between">

      <div class="col-lg-3 pt-4">
        <span> showing 1-10 from100</span>
      </div>
      <div class="   d-md-flex  justify-content-md-end">

        <ul class="pagination pt-4">
                      <li class="disabled"><a href="#">«</a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">...</a></li>
                      <li><a href="#">»</a></li>
                    </ul>
      </div>



</div>
</div>
</div>

    </div>

     






  

