
<div class="container-fluid">
  <div class="row   ">


    <!-- dont touch until you asked to  -->
    <aside class=" col-lg-2  col-2 side-bar   ">
      <app-side-bar></app-side-bar>
    </aside>



    <div class=" col-9   ms-lg-3 pt-3">
      <app-product-page></app-product-page>

<div class="   ">

  <div class="row">

    <div class="col">Lorem.</div>
    <div class="col">Cumque?</div>
    <div class="col">Explicabo.</div>
    <div class="col">Magnam.</div>
    <div class="col">Expedita.</div>
    <div class="col">Esse.</div>
    <div class="col">Pariatur.</div>
    <div class="col">Officiis.</div>
    <div class="col">Explicabo.</div>
  </div>
</div>
      <!-- <div class="col-lg-12 col-sm-12  ms-4 "> -->
  
        <div class="table-responsive ms-4 table-bordered rounded border-danger">
          <table class="table table-hover text-secondary ">
              <thead>
                <!-- <th>      
                </th> -->
                <th class="  d-flex"><div class="dropdown">
                  <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <input class="form-check-input " type="checkbox" value="" id="defaultCheck">
                           Products
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div></th>
                      <th class="col"><button
                        type="button"
                        class="btn "
                        data-bs-toggle="button"
                        aria-pressed="false"
                        autocomplete="off"
                      >
                        SKU
                      </button>
                      </th >
                      <th class=""><button
                        type="button"
                        class="btn "
                        data-bs-toggle="button"
                        aria-pressed="false"
                        autocomplete="off"
                      >
                      Category
                      </button>
                      </th>
                      <th><div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Stock
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div></th>
                      <th><div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Price
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div></th>
                      <th><div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Status
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div></th>
                      <th class=""><div class="dropdown">
                        <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Added
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div></th>
                      <th class=""><button
                        type="button"
                        class="btn "
                        data-bs-toggle="button"
                        aria-pressed="false"
                        autocomplete="off"
                      >
                        Action
                      </button>
                      </th>
                      
              </thead>
              <tbody>
                      <!-- <td>              
                      </td> -->
                      <td class="  col-3  ">
                        <div class=" product-field d-flex ">
                          <input class="form-check-input mt-3 " type="checkbox"  value="" id="defaultCheck">
                          <img src="../../assets/images/Img.png" class="p-2" alt="">
                          <span class="pt-1">Hand made pouch
                            <br>
                            <span>
                              3variants
                            </span>
                          </span>
                      </div></td>
                      <td><div class="sku-field">
                        <p>302012</p>
                      </div></td>
                      <td><p>Bag & Pouch</p></td>
                      <td >
                        <div class="container">
  
                          <p>10</p>
                        </div>
                      </td>
                      <td>
                        <div class="container">
                          <p>$121.00</p>
                        </div>
                      </td>
  
                      <td>
                        <div class="container">
  
                          <span class="badge rounded-pill bg-secondary">low of stack</span>                     
                           </div>
                      </td>
                      <td class="">
                      <p>29 Dec 2022</p>
                    </td>
                      <td><div class=" d-flex ">
                        <button class="btn  m-0 p-1">
                          <i class="fa-solid fa-eye"></i> 
  
                        </button>
                        <button class="btn  m-0 p-1">
                          <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="btn m-1 p-0">
                          <i class="fa-solid fa-trash"></i> 
  
                        </button>
                       
                      </div></td>
              </tbody>
          </table>
      </div>


      <div class="row">

        <!-- dont touch Again follow the rules if your code works better not to watch it  -->

        <footer class="col-12  pt-2  ">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-3 pt-2">
              <span > showing 1-10 from100</span>
              <!-- <div class="col-lg-3 col-sm-8"></div> -->
            </div>
            <div class=" col-sm-4 col-6  pt-1 d-md-flex justify-content-md-end">
  
              <ul class="pagination  mt-2">
                            <li class="disabled"><a class="p-2" href="#">«</a></li>
                            <li  class="active "><a class="p-2" href="#">1</a></li>
                            <li><a class="p-2" href="#">2</a></li>
                            <li><a class="p-2" href="#">3</a></li>
                            <li><a class="p-2" href="#">4</a></li>
                            <li><a class="p-2" href="#">5</a></li>
                            <li><a class="p-2" href="#">...</a></li>
                            <li><a class="p-2" href="#">»</a></li>
                          </ul>
            </div>
          </div>
    
  
        </footer>
  
      </div>
      </div>
    </div>
          
     </div>
  <!-- </div> -->





    <!-- <div class="container text-center  rounded  ">
    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1">
      <div class="col">
        <div class="p-1"><div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <input class="form-check-input " type="checkbox" value="" id="defaultCheck">
        Product
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku">SKU</tr>
            <tr class="category">Category </tr>
        </div>
      </div>
      <div class="col">
        <div class="p-1"><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
 stock
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
</div>
      </div>
      <div class="col d-flex ">
        <tr>     
            <div class="p-1"><div class="dropdown" id="drop">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
     price
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
          </div>
    </tr>

        <tr class="status">
            
            <div class="p-1"><div class="dropdown ">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
     status
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div></div>
        </tr>

      </div>
      <div class="col">
        <div class="p-1"><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  Added
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div></div>
      </div>
      <div class="col">
          Action
</div>
    </div>

    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1 ">
      <div class="col">
        <div class="p-1 d-flex product-content">                <input class="form-check-input pr-1 " type="checkbox" value="" id="defaultCheck">
            <div class="product ">

            </div>
            <div class="product-name ">

                <p class="p-1">Hand made Pouch<br><span>3 variants</span></p>
                
            </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku-num"><span>302012</span></tr>
            <tr><span>Bag&Bouch</span> </tr>
        </div>
      </div>
      <div class="col">

        <div class="p-1 "><span>10</span></div>
      </div>
      <div class="col d-flex justify-content-between">
       <tr> <div class="p-1 price"><span>$121.00</span></div></tr>
       <tr class="status-btn">
        <div class="status-btn">

            <button type="button" class="btn btn-sm">Low Stack</button>
        </div>
    </tr>
      </div>
      <div class="col">
        <div class="p-1"><span>10 Oct 2024</span></div>
      </div>
      <div class="col">
        <div class="p-1">
            <div class="actions-icons w-80">

                <span class="d-flex justify-content-around">
                <i class="fa-solid fa-eye" ></i>
                <i class="fa-solid fa-pen" ></i>
                <i class="fa-solid fa-trash" ></i>
            </span>
            </div>
    </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1 ">
      <div class="col">
        <div class="p-1 d-flex product-content">                <input class="form-check-input pr-1 " type="checkbox" value="" id="defaultCheck">
            <div class="product ">

            </div>
            <div class="product-name ">

                <p class="p-1">Hand made Pouch<br><span>3 variants</span></p>
                
            </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku-num"><span>302012</span></tr>
            <tr><span>Bag&Bouch</span> </tr>
        </div>
      </div>
      <div class="col">

        <div class="p-1 "><span>10</span></div>
      </div>
      <div class="col d-flex justify-content-between">
       <tr> <div class="p-1 price"><span>$121.00</span></div></tr>
       <tr class="status-btn">
        <div class="status-btn-draft">

            <button type="button" class="btn btn-sm"> Draft</button>
        </div>
    </tr>
      </div>
      <div class="col">
        <div class="p-1"><span>10 Oct 2024</span></div>
      </div>
      <div class="col">
        <div class="p-1">
            <div class="actions-icons w-80">

                <span class="d-flex justify-content-around">
                <i class="fa-solid fa-eye" ></i>
                <i class="fa-solid fa-pen" ></i>
                <i class="fa-solid fa-trash" ></i>
            </span>
            </div>
    </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1 ">
      <div class="col">
        <div class="p-1 d-flex product-content">                <input class="form-check-input pr-1 " type="checkbox" value="" id="defaultCheck">
            <div class="product ">

            </div>
            <div class="product-name ">

                <p class="p-1">Hand made Pouch<br><span>3 variants</span></p>
                
            </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku-num"><span>302012</span></tr>
            <tr><span>Bag&Bouch</span> </tr>
        </div>
      </div>
      <div class="col">

        <div class="p-1 "><span>10</span></div>
      </div>
      <div class="col d-flex justify-content-between">
       <tr> <div class="p-1 price"><span>$121.00</span></div></tr>
       <tr class="status-btn">
        <div class="status-btn-out">

            <button type="button" class="btn btn-sm">out of stack</button>
        </div>
    </tr>
      </div>
      <div class="col">
        <div class="p-1"><span>10 Oct 2024</span></div>
      </div>
      <div class="col">
        <div class="p-1">
            <div class="actions-icons w-80">

                <span class="d-flex justify-content-around">
                <i class="fa-solid fa-eye" ></i>
                <i class="fa-solid fa-pen" ></i>
                <i class="fa-solid fa-trash" ></i>
            </span>
            </div>
    </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1 ">
      <div class="col">
        <div class="p-1 d-flex product-content">                <input class="form-check-input pr-1 " type="checkbox" value="" id="defaultCheck">
            <div class="product ">

            </div>
            <div class="product-name ">

                <p class="p-1">Hand made Pouch<br><span>3 variants</span></p>
                
            </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku-num"><span>302012</span></tr>
            <tr><span>Bag&Bouch</span> </tr>
        </div>
      </div>
      <div class="col">

        <div class="p-1 "><span>10</span></div>
      </div>
      <div class="col d-flex justify-content-between">
       <tr> <div class="p-1 price"><span>$121.00</span></div></tr>
       <tr class="status-btn-puplished">
        <div class="status-btn">

            <button type="button" class="btn btn-sm"> puplished</button>
        </div>
    </tr>
      </div>
      <div class="col">
        <div class="p-1"><span>10 Oct 2024</span></div>
      </div>
      <div class="col">
        <div class="p-1">
            <div class="actions-icons w-80">

                <span class="d-flex justify-content-around">
                <i class="fa-solid fa-eye" ></i>
                <i class="fa-solid fa-pen" ></i>
                <i class="fa-solid fa-trash" ></i>
            </span>
            </div>
    </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1 ">
      <div class="col">
        <div class="p-1 d-flex product-content">                <input class="form-check-input pr-1 " type="checkbox" value="" id="defaultCheck">
            <div class="product ">

            </div>
            <div class="product-name ">

                <p class="p-1">Hand made Pouch<br><span>3 variants</span></p>
                
            </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku-num"><span>302012</span></tr>
            <tr><span>Bag&Bouch</span> </tr>
        </div>
      </div>
      <div class="col">

        <div class="p-1 "><span>10</span></div>
      </div>
      <div class="col d-flex justify-content-between">
       <tr> <div class="p-1 price"><span>$121.00</span></div></tr>
       <tr class="status-btn">
        <div class="status-btn">

            <button type="button" class="btn btn-sm">Low Stack</button>
        </div>
    </tr>
      </div>
      <div class="col">
        <div class="p-1"><span>10 Oct 2024</span></div>
      </div>
      <div class="col">
        <div class="p-1">
            <div class="actions-icons w-80">

                <span class="d-flex justify-content-around">
                <i class="fa-solid fa-eye" ></i>
                <i class="fa-solid fa-pen" ></i>
                <i class="fa-solid fa-trash" ></i>
            </span>
            </div>
    </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1 ">
      <div class="col">
        <div class="p-1 d-flex product-content">                <input class="form-check-input pr-1 " type="checkbox" value="" id="defaultCheck">
            <div class="product ">

            </div>
            <div class="product-name ">

                <p class="p-1">Hand made Pouch<br><span>3 variants</span></p>
                
            </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku-num"><span>302012</span></tr>
            <tr><span>Bag&Bouch</span> </tr>
        </div>
      </div>
      <div class="col">

        <div class="p-1 "><span>10</span></div>
      </div>
      <div class="col d-flex justify-content-between">
       <tr> <div class="p-1 price"><span>$121.00</span></div></tr>
       <tr class="status-btn">
        <div class="status-btn">

            <button type="button" class="btn btn-sm">Low Stack</button>
        </div>
    </tr>
      </div>
      <div class="col">
        <div class="p-1"><span>10 Oct 2024</span></div>
      </div>
      <div class="col">
        <div class="p-1">
            <div class="actions-icons w-80">

                <span class="d-flex justify-content-around">
                <i class="fa-solid fa-eye" ></i>
                <i class="fa-solid fa-pen" ></i>
                <i class="fa-solid fa-trash" ></i>
            </span>
            </div>
    </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-6 g-1 g-lg-1 ">
      <div class="col">
        <div class="p-1 d-flex product-content">                <input class="form-check-input pr-1 " type="checkbox" value="" id="defaultCheck">
            <div class="product ">

            </div>
            <div class="product-name ">

                <p class="p-1">Hand made Pouch<br><span>3 variants</span></p>
                
            </div>
        </div>
      </div>
      <div class="col">
        <div class="p-1 d-flex justify-content-between">
            <tr class="sku-num"><span>302012</span></tr>
            <tr><span>Bag&Bouch</span> </tr>
        </div>
      </div>
      <div class="col">

        <div class="p-1 "><span>10</span></div>
      </div>
      <div class="col d-flex justify-content-between">
       <tr> <div class="p-1 price"><span>$121.00</span></div></tr>
       <tr class="status-btn">
        <div class="status-btn">

            <button type="button" class="btn btn-sm">Low Stack</button>
        </div>
    </tr>
      </div>
      <div class="col">
        <div class="p-1"><span>10 Oct 2024</span></div>
      </div>
      <div class="col">
        <div class="p-1">
            <div class="actions-icons w-80">

                <span class="d-flex justify-content-around">
                <i class="fa-solid fa-eye" ></i>
                <i class="fa-solid fa-pen" ></i>
                <i class="fa-solid fa-trash" ></i>
            </span>
            </div>
    </div>
      </div>
    </div>
    
    <div class="row g-0 text-center bg-blach rounded text-white pt-3 ">
      <div class="col-4  ">
        
          <span class="pagination-span">showing 1-10 from 100</span>

      </div>
      <div class="col-8 col-md-6 pagination-list  ">




          <div class="container ">
            <ul class="pagination  ">
                          <li class="disabled"><a href="#">«</a></li>
                          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">...</a></li>
                          <li><a href="#">»</a></li>
                        </ul>
            </div>
    </div>
    </div>
  </div> -->



  <!-- ********************************************************************************************************************* -->


  

