<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <app-side-bar></app-side-bar>

    <div class="customer">
        <div class="customer-heading">
    
            <h2>customer</h2>
            <div class="customer-links">
        
    
                <a href="">dashboard</a>
                <img src="../../assets/images/chevron right.png" alt="">
                <a href="">customerList</a>
                <div class="add-customer ">
                  <button>  <i class="fasolid fa-plus"></i>Add customer</button>
                  
                </div> 
            </div>
        
    
        </div>   
        <div class="filtration-conainer d-inline">

            <div class="search ">
               <i class="fa-solid fa-search "></i><input  type="search" placeholder="search    
                " >
            </div>
            <div class="filter">
        
                <button><img src="../../assets/icon (2).png" alt=""> filter</button>
            </div>
        </div>
    </div>
    
</body>
</html>
<!-- <p >product-page works!</p> -->

<router-outlet />