$primary-color:#5C59E8;
$secondry-color:#E0E2E7;
$low-stack-color:#E46A11;
$buplished-color:#0D894F;
$out-stack-color:#F04438;



// .container{

//     background-color: $primary-color;
//     width:  100%;
// }


// .customer{
// height: 60px;
// // gap: 24px;
// opacity: 0px;

// }




.customer-h2{
    padding-right: 370px;
}
.customer-heading{
    
    width:  953px;
height:  60px;
gap: 8px;
opacity: 0px;

padding-left: 90px;
}
.customer-links{
    display: flex;
    gap: 8px;

    padding-left: 180px;
    // margin-left: 28%;

}
.customer-links img{
    width: 30px;
    height: 30px;
    padding: 3.75px 5.47px 3.75px 6.38px;
    gap: 0px;
    opacity: 0px;
    
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
color: $primary-color;
}



// **************************

// .filtration-conainer{
    //     width: 1128px;
    // height: 40px;
// gap: 0px;
// // justify-content: space-between;
// opacity: 0px;

// }
// .search{
// width:  320px;
// height: 40px;
// padding: 8px 12px 8px 12px;
// gap: 4px;
// border-radius: 8px 0px 0px 0px;
// border: 1px 0px 0px 0px;
// opacity: 0px;

// }



// // .add-customer{
// // padding-left: 85%;
// // }
.add-customer{
    // width:  800px;
    padding-left: 370px;
    gap: 24px;
}
.add-customer button{
    background-color: $primary-color;
    width:  138px;
    // height:  40px;
    color: white;
     gap: 4px;
    border-radius: 8px  ;
    opacity: 0px;
    
    }



    // **********************************

//     .filtration-buttons{
//         width: 30%;
//         height: 40px;
//         // margin-left: 205px;
//         // padding-left: 105px;
//     }
//     .filtration-buttons button{
//         margin-left: 30%;
//     }

//     // *****************pagination span**************

// .pagination-span{
// color: black;
// padding-right: 30%;

// }
// .pagination-list{
//     margin-left: 16%;
//     display: flex;

    
// }
//     .pagination>li>a, .pagination>li>span {

//         color: $primary-color;
//         background-color: $secondry-color;
//          border-radius: 30% !important;
//          padding: 6px 12px;
//         //  color: white;
//         // border-color: white !important;
//         margin: 0 10px;
//     }   
//     .pagination>li>a:hover{
//         background-color: $primary-color;
//         color: $secondry-color;
//     }
//     .dropdown button{
//         border: none;
//         background-color: white;
//         color: black;
//     }
//     .product-content{
//         width: 230px;
// height: 80px;
// padding: 18px 22px 18px 22px;
// gap: 5px;
// border: 0px 0px 1px 0px;
// opacity: 0px;

// }
// // ********************************************************************************************
// .product{
//         margin-top: 10px;
//         width: 34px;
// height: 34px;
// border-radius: 8px ;
// opacity: 0px;
// background-color: $secondry-color;
//     }
//     .product-content input{
//         margin-top: 15px;
//     }
//     .product-name{
//         width: 150px;
//         height: 42px;
//         gap: 4px;
//         opacity: 0px;
        
//     }
// .sku{
//     padding-left: 22px;
// }
// #drop{
//     padding-left: 20px;

// }
// .price{
//     margin-left: 40%;
// }
// .status{
//     margin-left: 5%;
// }
// .status-btn{
//     margin-left: 5%;
// }
// .actions-icons{
// // padding-left: 40%;
// }
//     .sku-num{
//         width: 99px;
//         height: 80px;
//         color: $primary-color;
//     }
//     .status-btn button{
//         width: 130px;
// height: 25px;
// padding: 8px 12px 8px 12px;
// gap: 8px;
// border-radius: 100px ;
// opacity: 0px;
// background-color: $secondry-color;
// color: $low-stack-color;
// display: flex;
// align-items: center;
// justify-content: center;
// margin-left: 20%;
//     }
//     .status-btn-draft button{
//         width: 130px;
// height: 25px;
// padding: 8px 12px 8px 12px;
// gap: 8px;
// border-radius: 100px ;
// opacity: 0px;
// background-color: $secondry-color;
// color: black;
// display: flex;
// align-items: center;
// justify-content: center;
// margin-left: 20%;
//     }
//     .status-btn-out button{
//         width: 130px;
// height: 25px;
// padding: 8px 12px 8px 12px;
// gap: 8px;
// border-radius: 100px ;
// opacity: 0px;
// background-color: $secondry-color;
// color: $out-stack-color;
// display: flex;
// align-items: center;
// justify-content: center;
// margin-left: 20%;
//     }
//     .status-btn-puplished button{
//         width: 130px;
// height: 25px;
// padding: 8px 12px 8px 12px;
// gap: 8px;
// border-radius: 100px ;
// opacity: 0px;
// background-color: $secondry-color;
// color: $buplished-color;
// display: flex;
// align-items: center;
// justify-content: center;
// margin-left: 20%;
//     }



//     // *************New search input*********remember to Delete un needed code later***
// .container-search {
//     width: 300px;
//     margin: 0 auto;
    
//   }
//   .item {
//     margin-bottom: 2rem;
//   }
  
  
  .search-container {
    box-sizing: border-box; 
    font-size: 0; 
    padding-left: 14%;
}
.search-container input {
        padding: 6px 10px;
    height: 33px;
    box-sizing: border-box;
    padding-right: 55px;
    
    border: 1px solid #cacbcc;
    color: #29303b;
    box-shadow: none;
    font-size: 13px;
    border-radius: 1px;
    // border-bottom-right-radius: 0;
    // border-top-right-radius: 0;
    font-weight: bold;
  }
  .search-container input:focus {
    box-shadow: inset 0 0 1px rgba(0,119,145,.5);
    border-color: #76c5d6;
  }
  .search-container button {
    margin-left: -1px; 
  }
  .btn-sm {
    font-size: 15px;
    border-radius: 1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 6px 10px;
  }
  .btn-secondary {
    color: #fff;
    background-color: #007791;
    border: 1px solid transparent;
    line-height: 20px;
  }
  
  .filters{
    padding-left: 30rem;
    
  }
  .selet-date-btn{
    padding: 0.5rem 1rem;
    // margin-left: 140px;
    background-color: $secondry-color;
}
.filters-btn{
      background-color: $secondry-color;
    // margin-left: 33px;
    
  }
  .search{
    padding-left: 30px;
  }

  
  /* Font Awesome */
  .fontA-container {
    position: relative;
  }
  .fontA-label {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 18px;
  }
  .fontA-label i {
    left: 3px;
  }
  .fontA-input {
    font-size: 18px;
    padding: 10px ;
    width: 100%;
    border: none; /**/
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 45px;
    padding-right: 40px;
    box-sizing:border-box
    
  }
  .fontA-input:focus{
      outline: none;
  }

//     // *********************

