    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container-fluid">

  <div class="row  d-flex">
    <!-- Sidebar as an <aside> element -->
  
    <!-- Main Content -->
    <main class="col-lg-12 ms-lg-3  pt-3">
      <div class="row d-flex justify-content-between ">
        <div class="col-lg-3">
          <h2>customer</h2>
          <div class="heading-links text-decoration-none">
            <a href="" class="text-decoration-none dashboard-link">Dashboard</a>
            <i class="fa-solid fa-chevron-right p-2"></i>
            <a href="" class="text-decoration-none p-2">Dashboard</a>
          </div>
          <!-- <div class="col-lg-3 col-sm-8"></div> -->
        </div>
        <div class="d-grid  col   d-flex justify-content-lg-end justify-content-center   ">
                    <button type="button" class="btn btn-outline m-lg-4  text-white add-customer-btn">
            <i class="fa-solid fa-plus"></i> Add customer
          </button>
        </div>
      </div>
      <main class="  col-12 ">
        <div class="row d-flex justify-content-between ">
          <div class=" col-lg-5 pt-2  ">
            <div class="form-group  has-feedback  has-search">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
              <input type="text" class="form-control  " placeholder="Search...">
            </div>
          </div>
          <!-- <div class="col  ms-5  d-flex"></div> -->
          <div class="  col-sm-9 col-lg-6  filter-Dates-btn d-flex justify-content-sm-around justify-content-lg-end ms-lg-5 pt-2 flex-wrap ">
            <button type="button" class="btn btn-outline  rounded">
              <i class="fa-regular fa-calendar"></i> Select Dates
            </button>
            <button type="button" class="btn px-2 ms-2 btn-outline rounded">
              <img src="assets/icon (2).png" alt=""> Filters
            </button>
          </div>
        </div>
      </main>
      <main class="  col-12">
        <div class="row d-flex justify-content-between ">
  <div class="col-sm-12 col-lg-4">l</div>
  <div class="col">l</div>
  <div class="col">l</div>
  <div class="col">l</div>
  <div class="col">l</div>
  <div class="col">l</div>
  <div class="col">l</div>
  <div class="col">l</div>
  <div class="col">l</div>
        </div>
      </main>
    </main>
  </div>
  
</div>


<router-outlet />