


<div class="container-fluid   ">
    
    <div class="row  text-center  align-content-center min-vh-100  ">
<div class="logo-img">
    <img src="assets/footerImages/Group 16.png" alt="">
</div>
<div class="logo-text">
    <h4>Sign in to your account</h4>
    <form action="" class="col-lg-3 m-auto login"[formGroup]="addUserForm" (ngSubmit)="onFormSubmitted()"  >
      
        <div class="input-box  text-start">
            <label for="Email" >E-mail</label>
          <input type="email"
          formControlName="email"
           placeholder="E-mail"
            name="email"
            class=" form-control"
           required>
           
        </div>
        <div class="input-box pt-1 text-start">
            <label for="password">password</label>
            
            <input type="password"
            formControlName="password"
            placeholder="password" name="password"  
            class="form-control"
            required>
            <i class='bx bxs-lock-alt' ></i>
            
        </div>
        <div class="input-box pt-1 text-start">
            <label for="confirm Password">Confirm Password</label>
            
            <input type="password"
            formControlName="confirmationPassword"
          
          
             placeholder="confirm Password" name="confirmationPassword"  
             class="form-control"
              required>
              <div *ngIf="addUserForm.hasError('passwordMismatch', 'confirmationPassword') && addUserForm.get('confirmationPassword')?.touched">
                <p>Passwords do not match</p>
              </div>          
               <i class='bx bxs-lock-alt' ></i>

          </div>
          <div  class="remember-forgot pt-3 d-flex justify-content-between">
            <label><input class="rounded" type="checkbox" name="rememberMe"  formControlName="rememberMe" 
               >Remember me</label>
            <a href="#" class="text-dark text-decoration-none">Forgot your Password?</a>
          </div> 
          <div class="submit  pt-3">

              <button   type="submit" class="btn btn-dark col-12 "  [disabled]="addUserForm.invalid || isLoading" > 
                <span *ngIf="!isLoading">sign up</span>
                <div *ngIf="isLoading">
                  <span class="spinner-border spinner-border-sm" aria-hidden="true" ></span><span>sign up</span>
                </div>
            </button>
          </div>

          <div *ngIf="isLoading">
<app-loading></app-loading>
        </div>
        </form>
    </div>

</div>
    </div>
